body {
    font-family:  Segoe UI, sans-serif;
    font-size: 16px;
}
.pitch-box {
    background-color: #eee;
    min-width: 200px;
    padding: 10px 30px;
    border-radius: 15px;
    border-bottom: 5px solid #ccc;
    display: flex;
    flex-direction: row;
}

.pitch-money-box {
    background-color: #74D38F;
    border-radius: 100%;
    width: 100px;
    min-width: 100px;
    height: 100px; 
    line-height: 100px;
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    align-self: center;
}

.pitch-content {
    flex-grow: 1;
    margin-left: 20px;
}

.pitch-box-pitchers {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-bottom: 3px;
} 

.pitch-name {
    font-weight: bold;
    font-family: 'Pragati Narrow';
    font-size: 22px;
}

.pitcher-amount {
    background-color: #74D38F;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 3px 10px;
}

.pitcher-name {
    font-family: 'Pragati Narrow';
    font-size: 18px;
    display: inline-block;
}

.pitch-box-pitcher {
    background-color: #DDDDDD;
    display: inline-block;
    border-radius: 30px;
    padding: 5px 10px 5px 5px;
    margin: 3px;
}

.pitch-in-button {
    border-radius: 30px;
    background-color: #74D38F;
    padding: 5px 30px;
    margin: 5px 3px 0 0;
    color: #FFFFFF;
    border: 0px;
    font-family: 'Pragati Narrow';
    font-size: 18px;
    float: right;
}

.pitch-in-button:hover {
    background-color: #5BB274;
}

a {
    text-decoration: underline;
    cursor: pointer;
    color: #666;
}

.show-pitchers {
    text-align: right;
}